
.countdown-container {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #FFF;
    border: none;
    opacity: 1;
}

.countdown {
    font-family: Raleway;
    font-size: 53px;
    line-height: 89px;
    letter-spacing: 2.65px;
    text-transform: uppercase;
    color: #000000;
    color: rgb(0, 0, 0);
}